<!DOCTYPE html>
<html lang="de">
<head>
  <title>Kohlendioxid-Fußabdruck Rechner</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body id="bdy-input">
  <div class="container">
    <h1 class="title">Kohlendioxid-Fußabdruck Rechner</h1>
    <form action="{{ url_for('calculate') }}" method="POST">
      <div class="form-group">
        <label for="transportation">Transport (in kg CO2):</label>
        <input type="number" name="transportation" id="transportation" required>
      </div>

      <div class="form-group">
        <label for="energy">Energieverbrauch (in kg CO2):</label>
        <input type="number" name="energy" id="energy" required>
      </div>

      <div class="form-group">
        <label for="consumption">Konsum (in kg CO2):</label>
        <input type="number" name="consumption" id="consumption" required>
      </div>

      <button type="submit" class="calculate-btn">Berechnen</button>
    </form>
  </div>

  <div class="foot-container">
    <img src="{{ url_for('static', filename='images/foot.png') }}" alt="Fuß-Abbild" class="foot-image">
  </div>
</body>
</html>
